<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SakArkivOppdateringSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rep.geointegrasjon.no/Arkiv/Oppdatering/xml.wsdl/2012.01.31"
                binding="basicHttpBinding" bindingConfiguration="SakArkivOppdateringSoap"
                contract="SakArkivOppdateringPort" name="SakArkivOppdatering" />
        </client>
    </system.serviceModel>
</configuration>