<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ArkivInnsynSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rep.geointegrasjon.no/Arkiv/Innsyn/xml.wsdl/2012.01.31"
                binding="basicHttpBinding" bindingConfiguration="ArkivInnsynSoap"
                contract="ArkivInnsyn.ArkivInnsynPort" name="ArkivInnsyn" />
        </client>
    </system.serviceModel>
</configuration>